ul {
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  
}

li{
  list-style: none;
}

img{
width: 100%

}

h2{
  text-align: center;
}

footer{
  padding-top: 1%;
  background-color: black;
  color: white;
  height: 60px;
  text-align: center;
  margin-bottom: none;
}



