// .header {
//   font-family: sans-serif;
//   background-color: #FF5733;
//   color: white;
//   padding: 10px;
//   margin: 0 auto;
//   text-align: center;

//   h1 {
//     color: white;
//   }
// }


