// .list {
//   list-style: none;
//   padding: 10px;
//   background-color: #FFC300;
//   margin: 0 auto;
//   text-align: center;

//   li {
//     display: inline-block;
//     padding-right: 10px;
//     font-family: sans-serif;
//     font-size: 2em;
//   }

//  img {
//    padding: 5px;
//  }
// }