ul {
  background: white;
  list-style: none;
  text-align: center;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  li:hover {
    opacity: .3;
  }

  img {
    width: 150px;
  }
}

h1, h2 {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 10px;
}
