body {
  background: black;
  color: blue;
  font-family: 'Trebuchet MS';
  text-align: center;
  img {
    height: 20em;
    position: relative;
    margin: 0 auto;
  }
  li {
    text-align: left;
  }
}

h2 {
    text-align: center;
}