@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
  font-family: 'Rubik', sans-serif;
}
img {
  height: 100%;
  width: 100%;
}
ul {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0;
  grid-gap: 20px;
}
li {
  list-style-type: none;
}

li:nth-child(5n) {
  grid-column: span 2;
  grid-row: span 1;

}